<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <ion-button  [routerLink]="['/']" >Back</ion-button>
      <ion-button  (click)="newProduct()" >Jauns ieraksts</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-searchbar [(ngModel)]="searchTerm" (ionInput)="searchItems()"></ion-searchbar>
<ion-item-group>
  <ion-item-divider color="light">Favorīti</ion-item-divider>
  <ion-item *ngFor="let item of backendData.ProductListFavourites"   >
    <ion-label (click)="selectProduct(item)">
          <h1>{{item.Nosaukums}}</h1>
          <h2>{{item.Suga}} {{item.Potcelms}}</h2>
          <p>{{item.LatinNosaukums}} {{item.Zona}} {{item.Kods1}} {{item.PasesKrasa}}</p>
    </ion-label>
    <ion-button slot="end" size="large" (click)="editProduct(item)"  >Edit</ion-button>
  </ion-item>
</ion-item-group>

<ion-item-group>
 <ion-item-divider color="light">Visi</ion-item-divider>
    <ion-item *ngFor="let item of backendData.ProductList"   >
      <ion-label (click)="selectProduct(item)">
            <h1>{{item.Nosaukums}}</h1>
            <h2>{{item.Suga}} {{item.Potcelms}}</h2>
            <p>{{item.LatinNosaukums}} {{item.Zona}} {{item.Kods1}} {{item.PasesKrasa}}</p>
      </ion-label>
      <ion-button slot="end" size="large" (click)="editProduct(item)"  >Edit</ion-button>
    </ion-item>
</ion-item-group>

</ion-content>
